*.o
*.a
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~

# Emacs
\#*\#

build*/
!doc/build/
!scripts/build
!share/sysbuild/build
!tests/drivers/build_all
!scripts/pylib/build_helpers
cscope.*
.dir

/*.patch

# The .cache directory will be used to cache toolchain capabilities if
# no suitable out-of-tree directory is found.
.cache

outdir
outdir-*
scripts/basic/fixdep
scripts/gen_idt/gen_idt
coverage-report
doc-coverage.info
doc/_build
doc/doxygen
doc/xml
doc/html
doc/boards
doc/samples
doc/latex
doc/themes/zephyr-docs-theme
sanity-out*
twister-out*
bsim_out
bsim_bt_out
myresults.xml
tests/RunResults.xml
scripts/grub
doc/reference/kconfig/*.rst
doc/doc.warnings
.*project
.settings
.envrc
hide-defaults-note
venv
.venv
.envrc
.DS_Store
new.info

# CI output
compliance.xml
dts_linter.patch
_error.types

# Tag files
GPATH
GRTAGS
GTAGS
TAGS
tags

# from check_compliance.py
# zephyr-keep-sorted-start ignorecase
BinaryFiles.txt
BoardYml.txt
Checkpatch.txt
ClangFormat.txt
CMakeStyle.txt
DeviceAPI.txt
DeviceMmioCheck.txt
DevicetreeBindings.txt
DevicetreeLinting.txt
GitDiffCheck.txt
Gitlint.txt
ImageSize.txt
Kconfig.txt
KconfigBasic.txt
KconfigBasicNoModules.txt
KconfigFormat.txt
KconfigHWMv2.txt
KeepSorted.txt
LicenseAndCopyrightCheck.txt
MaintainersFormat.txt
MmuRegionsCheck.txt
ModulesMaintainers.txt
Nits.txt
Pylint.txt
PythonCompat.txt
Ruff.txt
SphinxLint.txt
SysbuildKconfig.txt
SysbuildKconfigBasic.txt
SysbuildKconfigBasicNoModules.txt
TextEncoding.txt
YAMLLint.txt
ZephyrModuleFile.txt
# zephyr-keep-sorted-stop

# Node dependecies
node_modules

.vscode/settings.*
